## CLASSIFICATION:
- binomial ---> 2 output lables ---> 0, 1 or ys, no or true, false
- multinomial classification ---> 0, 1, 2, 3.

## LOGISTIC REGRESSION:
- Uses sigmoid function whiles between 0 and 1
- sigmoid function y = 1/1 + e^-z

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Classification/Heart_disease.csv")

In [2]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [3]:
df['AHD'].unique()

array(['No', 'Yes'], dtype=object)

In [5]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [6]:
df['Thal'].unique()

array(['fixed', 'normal', 'reversable', nan], dtype=object)

In [7]:
import numpy as np

df['Thal'].replace(np.nan,'fixed', inplace=True)
df['Ca'].replace(np.nan, '0.0', inplace=True)

In [8]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            0
Thal          0
AHD           0
dtype: int64

In [9]:
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,0.0,normal,No

In [10]:
df['Thal'].unique()

array(['fixed', 'normal', 'reversable'], dtype=object)

In [11]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [12]:
df.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [13]:
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()
df['Thal'] = label.fit_transform(df['Thal'])
df['ChestPain'] = label.fit_transform(df['ChestPain'])
df['AHD'] = label.fit_transform(df['AHD'])

In [14]:
df.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,3,145,233,1,2,150,0,2.3,3,0.0,0,0
1,67,1,0,160,286,0,2,108,1,1.5,2,3.0,1,1
2,67,1,0,120,229,0,2,129,1,2.6,2,2.0,2,1
3,37,1,1,130,250,0,0,187,0,3.5,3,0.0,1,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,1,0

In [15]:
x = df.drop('AHD', axis=1)

In [16]:
y = df['AHD']

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=25)

from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train, y_train)

C:\Users\bhagy\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [18]:
model.predict([[63, 1, 3, 145, 233, 1, 2, 150, 0, 2.3, 3, 0.0, 0]])

array([0])

In [19]:
y_predict = model.predict(x_test)

In [20]:
df.describe

<bound method NDFrame.describe of      Age  Sex  ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  Oldpeak  \
0     63    1          3     145   233    1        2    150      0      2.3
1     67    1          0     160   286    0        2    108      1      1.5
2     67    1          0     120   229    0        2    129      1      2.6
3     37    1          1     130   250    0        0    187      0      3.5
4     41    0          2     130   204    0        2    172      0      1.4
..   ...  ...        ...     ...   ...  ...      ...    ...    ...      ...
298   45    1          3     110   264    0        0    132      0      1.2
299   68    1          0     144   193    1        0    141      0      3.4
300   57    1          0     130   131    0        0    115      1      1.2
301   57    0          2     130   236    0        2    174      0      0.0
302   38    1          1     138   175    0        0    173      0      0.0

     Slope   Ca  Thal  AHD
0        3  0.0     0    0
1        2  3.0     1    1
2        2  2.0     2    1
3        3  0.0     1    0
4        1  0.0     1    0
..     ...  ...   ...  ...
298      2  0.0     2    1
299      2  2.0     2    1
300      2  1.0     2    1
301      2  1.0     1    1
302      1  0.0     1    0

[303 rows x 14 columns]>

In [21]:
from sklearn.metrics import accuracy_score, confusion_matrix

accuracy_score(y_test, y_predict)

0.8901098901098901

In [22]:
confusion_matrix(y_test, y_predict)

array([[39,  5],
       [ 5, 42]], dtype=int64)

In [ ]:
actual = [cat, dog, cat, cat]

predicted = [dog, cat, cat, dog]

In [ ]:
actual values
                 cat      dog
predicted         1         0
cat(1)            TP        FP

dog(0)            FN        TN


accuracy=TP+TN/TP+FP+FN+TN

In [24]:
df['AHD'].value_counts()

0    164
1    139
Name: AHD, dtype: int64

0--->300
1---->200
balanced data set
--------------
500
yes--->400
no--->100
imbalanced dataset
metrics we use are 
- precision
- recall

## Try to apply logistic regression to diabetes data and find accuracy and confusion matrix