- Based on Baye's theorem, for calculating probability and conditional probabilities
    - p(A|B) = (P(B|A) * P(A)) / P(B)
    - A --> output
    - B --> features data
- Guassian Nb
- Multinomial Nb(in your target you have only more than 2 labels)
- Bernouli Nb(in your target you have only 2 labels)
- Works better for sentimental analysis, recommended systems.

### Apply load wine dataset to guassian nb and compare the accuracy.

In [17]:
from sklearn.datasets import load_wine

In [18]:
wine=load_wine()

In [23]:
wine

{'data': array([[1.423e+01, 1.710e+00, 2.430e+00, ..., 1.040e+00, 3.920e+00,
         1.065e+03],
        [1.320e+01, 1.780e+00, 2.140e+00, ..., 1.050e+00, 3.400e+00,
         1.050e+03],
        [1.316e+01, 2.360e+00, 2.670e+00, ..., 1.030e+00, 3.170e+00,
         1.185e+03],
        ...,
        [1.327e+01, 4.280e+00, 2.260e+00, ..., 5.900e-01, 1.560e+00,
         8.350e+02],
        [1.317e+01, 2.590e+00, 2.370e+00, ..., 6.000e-01, 1.620e+00,
         8.400e+02],
        [1.413e+01, 4.100e+00, 2.740e+00, ..., 6.100e-01, 1.600e+00,
         5.600e+02]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2]),
 'frame': None,
 'target_names': array(['class_0', 'class_1', 'class_2'], dtype='<U7'),
 'DESCR': '.. _wine_dataset:\n\nWine recognition dataset\n------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 178 (50 in each of three classes)\n    :Number of Attributes: 13 numeric, predictive attributes and the class\n    :Attribute Information:\n \t\t- Alcohol\n \t\t- Malic acid\n \t\t- Ash\n\t\t- Alcalinity of ash  \n \t\t- Magnesium\n\t\t- Total phenols\n \t\t- Flavanoids\n \t\t- Nonflavanoid phenols\n \t\t- Proanthocyanins\n\t\t- Color intensity\n \t\t- Hue\n \t\t- OD280/OD315 of diluted wines\n \t\t- Proline\n\n    - class:\n            - class_0\n            - class_1\n            - class_2\n\t\t\n    :Summary Statistics:\n    \n    ============================= ==== ===== ======= =====\n                                   Min   Max   Mean     SD\n    ============================= ==== ===== ======= =====\n    Alcohol:                      11.0  14.8    13.0   0.8\n    Malic Acid:                   0.74  5.80    2.34  1.12\n    Ash:                          1.36  3.23    2.36  0.27\n    Alcalinity of Ash:            10.6  30.0    19.5   3.3\n    Magnesium:                    70.0 162.0    99.7  14.3\n    Total Phenols:                0.98  3.88    2.29  0.63\n    Flavanoids:                   0.34  5.08    2.03  1.00\n    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12\n    Proanthocyanins:              0.41  3.58    1.59  0.57\n    Colour Intensity:              1.3  13.0     5.1   2.3\n    Hue:                          0.48  1.71    0.96  0.23\n    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71\n    Proline:                       278  1680     746   315\n    ============================= ==== ===== ======= =====\n\n    :Missing Attribute Values: None\n    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThis is a copy of UCI ML Wine recognition datasets.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data\n\nThe data is the results of a chemical analysis of wines grown in the same\nregion in Italy by three different cultivators. There are thirteen different\nmeasurements taken for different constituents found in the three types of\nwine.\n\nOriginal Owners: \n\nForina, M. et al, PARVUS - \nAn Extendible Package for Data Exploration, Classification and Correlation. \nInstitute of Pharmaceutical and Food Analysis and Technologies,\nVia Brigata Salerno, 16147 Genoa, Italy.\n\nCitation:\n\nLichman, M. (2013). UCI Machine Learning Repository\n[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,\nSchool of Information and Computer Science. \n\n.. topic:: References\n\n  (1) S. Aeberhard, D. Coomans and O. de Vel, \n  Comparison of Classifiers in High Dimensional Settings, \n  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of  \n  Mathematics and Statistics, James Cook University of North Queensland. \n  (Also submitted to Technometrics). \n\n  The data was used with many others for comparing various \n  classifiers. The classes are separable, though only RDA \n  has achieved 100% correct classification. \n  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data)) \n  (All results using the leave-one-out technique) \n\n  (2) S. Aeberhard, D. Coomans and O. de Vel, \n  "THE CLASSIFICATION PERFORMANCE OF RDA" \n  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of \n  Mathematics and Statistics, James Cook University of North Queensland. \n  (Also submitted to Journal of Chemometrics).\n',
 'feature_names': ['alcohol',
  'malic_acid',
  'ash',
  'alcalinity_of_ash',
  'magnesium',
  'total_phenols',
  'flavanoids',
  'nonflavanoid_phenols',
  'proanthocyanins',
  'color_intensity',
  'hue',
  'od280/od315_of_diluted_wines',
  'proline']}

In [3]:
y=wine.target
x=wine.data

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [7]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)

GaussianNB()

In [8]:
y_pred=model.predict(x_test)

In [10]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)*100

100.0

## TASK:

In [30]:
import pandas as pd

df = pd.read_csv('Orange_Telecom_Churn_Data.csv')

In [31]:
df.head()

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [32]:
df

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,HI,50,408,365-8751,no,yes,40,235.7,127,40.07,...,126,18.96,297.5,116,13.39,9.9,5,2.67,2,False
4996,WV,152,415,334-9736,no,no,0,184.2,90,31.31,...,73,21.83,213.6,113,9.61,14.7,2,3.97,3,True
4997,DC,61,415,333-6861,no,no,0,140.6,89,23.90,...,128,14.69,212.4,97,9.56,13.6,4,3.67,1,False
4998,DC,109,510,394-2206,no,no,0,188.8,67,32.10,...,92,14.59,224.4,89,10.10,8.5,6,2.30,0,False
4999,VT,86,415,373-8058,no,yes,34,129.4,102,22.00,...,104,22.70,154.8,100,6.97,9.3,16,2.51,0,False

In [50]:
df.isna().sum()

state                            0
account_length                   0
area_code                        0
phone_number                     0
intl_plan                        0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
churned                          0
dtype: int64

In [87]:
x = df[['account_length']]
y = df[['number_vmail_messages']]

In [96]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [97]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)

C:\Users\bhagy\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GaussianNB()

In [98]:
y_pred=model.predict(x_test)

In [99]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)*100

71.33333333333334

### Class

In [100]:
df = pd.read_csv('amazondataset.csv')

In [101]:
df.head()

                                     uncleanedreview  decision
0  I had the Samsung A600 for awhile which is abs...  positive
1  Due to a software issue between Nokia and Spri...  positive
2  This is a great, reliable phone. I also purcha...  positive
3  I love the phone and all, because I really did...  positive
4  The phone has been great for every purpose it ...  positive

In [103]:
df['decision'].value_counts()

positive    57512
negative    14410
Name: decision, dtype: int64

In [113]:
a= df.iloc[2:3, 0]
a

2    This is a great, reliable phone. I also purcha...
Name: uncleanedreview, dtype: object

In [115]:
nimport nltk 
nltk.download('punkt')
from nltk import word_tokenize

data = 'This is a great, reliable phone. I also purchased.'
print(word_tokenize(data))

['This', 'is', 'a', 'great', ',', 'reliable', 'phone', '.', 'I', 'also', 'purchased', '.']

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\bhagy\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [117]:
nltk.download('stopwords')
from nltk.corpus import stopwords

stopWords = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\bhagy\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [118]:
print(stopWords)

{"that'll", 'which', "should've", 'here', 'mustn', 'nor', 'so', 'hers', 'further', 'ma', 'they', 'shan', 'what', 'you', 'y', 'it', 'themselves', 'aren', 'about', 'that', 'were', 'off', 'this', "wasn't", 'does', 'wouldn', 'if', 'each', 'but', 'a', 'itself', 'had', 'below', 'up', 'as', 're', 'my', 'and', "hadn't", 'his', 'her', "aren't", "hasn't", 'ours', 'there', 'all', "needn't", 'on', "didn't", "haven't", 'its', 'has', 'then', 'with', 'such', 'again', 'against', 'been', 'to', 'over', "you're", 'than', 'being', 'won', 'haven', 'by', 'for', 'm', 'theirs', 'who', 'where', "doesn't", 'any', "mightn't", "won't", 'have', 'between', 'didn', 'of', 'not', 'doesn', 'hadn', 'himself', 'll', 'through', 'their', 'weren', 'yourselves', 'how', 'am', 'once', 'or', 'them', 'our', 'was', 'why', "weren't", 'other', 'during', 'these', 'some', "she's", "shouldn't", 'while', 'we', 'very', "wouldn't", 'is', 'shouldn', 'own', 'in', 'yours', 'the', 'out', 'him', 'couldn', 'too', "you'll", 'at', 'wasn', "it's", 'both', 'those', 'from', 'when', 'into', "couldn't", 'more', 'ain', 'same', 'mightn', 'down', 'ourselves', 'will', "you'd", 'don', "you've", 'whom', 'are', 'because', 'myself', 'herself', 'd', 'isn', 've', 'your', 'yourself', 'needn', "shan't", 'he', "isn't", 'under', "don't", 'having', 's', 'now', 'before', 'no', 'me', "mustn't", 'after', 'be', 'hasn', 'do', 'i', 'until', 'only', 'few', 'she', 'just', 'should', 'most', 't', 'an', 'o', 'did', 'doing', 'above', 'can'}

In [119]:
import string

data = 'This is a great!, reliable phone. I also purchased.'
b = [i for i in data if i not in string.punctuation]
b

['T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 'g',
 'r',
 'e',
 'a',
 't',
 ' ',
 'r',
 'e',
 'l',
 'i',
 'a',
 'b',
 'l',
 'e',
 ' ',
 'p',
 'h',
 'o',
 'n',
 'e',
 ' ',
 'I',
 ' ',
 'a',
 'l',
 's',
 'o',
 ' ',
 'p',
 'u',
 'r',
 'c',
 'h',
 'a',
 's',
 'e',
 'd']

In [121]:
new_data = "".join(b)
new_data

'This is a great reliable phone I also purchased'

In [122]:
n_data = new_data.split()
n_data

['This', 'is', 'a', 'great', 'reliable', 'phone', 'I', 'also', 'purchased']

In [124]:
from sklearn.feature_extraction.text import CountVectorizer

vec = CountVectorizer()
vec.fit(n_data)

CountVectorizer()

In [125]:
vec.vocabulary_

{'this': 6,
 'is': 2,
 'great': 1,
 'reliable': 5,
 'phone': 3,
 'also': 0,
 'purchased': 4}

In [127]:
vectorizer = vec.transform(n_data)
print(vectorizer)

  (0, 6)	1
  (1, 2)	1
  (3, 1)	1
  (4, 5)	1
  (5, 3)	1
  (7, 0)	1
  (8, 4)	1